<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - ADGVGROUPE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleLogin.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='redim.png') }}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logoadgvlogin.png') }}" alt="Logo ADGV">
            </div>
            <h1>Connexion à la base de données</h1>
            <!-- Affichage des messages flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div id="flash-message" style="margin-bottom: 10px;">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Se connecter</button>
            </form>
            <p>Vous n'avez pas encore de compte ? <a href="/register">Crée en un ici</a>.</p>
        </div>
    </div>

 <!-- Lien vers ton fichier JS -->
 <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
